

body,ul,li {
    padding:0;
    margin:0;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
}

body {
    font-size:12px;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;

/*  -webkit-box-sizing:border-box;*/
    font-family:helvetica;
/*  padding-bottom:45px;    /*  This prevents the scroller to lock if the user swipes down outside of the screen.
                                NOT needed if in home screen mode. */
}


/**
 *
 * Pull down styles
 *
 */
#pullDown {
    background:#fff;
    height:40px;
    line-height:40px;
    padding:5px 0px;
    border-bottom:1px solid #ccc;
    font-weight:bold;
    font-size:14px;
    color:#888;
}
#pullDown .pullDownIcon  {
    display:block; float:right;
    width:40px; height:40px;
    background:url(pull-icon.png) 0 0 no-repeat;
    -webkit-background-size:40px 80px; background-size:40px 80px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;  
}
#pullDown .pullDownIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.loading .pullDownIcon{
    background-position:0 100%;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;

    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}

#header {
    position:absolute; z-index:2;
    top:0; left:0;
    width:100%;
    height:45px;
    line-height:45px;
    padding:0;
    color:#eee;
    font-size:20px;
    text-align:center;
}

#header a {
    color:#f3f3f3;
    text-decoration:none;
    font-weight:bold;
    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

#wrapper {
    position:absolute; z-index:1;
    top:145px; bottom:0; left:0;
    width:100%;
    background:#fff;
    overflow:auto;
}

#scroller {
    width:100%;
    float:left;
    padding:0;
    background:#fff;
}

#scroller ul {
    list-style:none;
    display:block;
    float:left;
    width:100%;
    padding:0;
    margin:0;
    text-align:left;
}

#scroller li {
    display:block;
    vertical-align:middle;
    float:left;
    padding:0 0px;
    border-left:0px solid #fff;
    border-right:0px solid #fff;
    background-color:#fff;
    font-size:14px;
    width:100%;
}
/* -------------------------- */

body{ 
 background: #ffffff;
 border-width: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
 }
 
img {
border: 0 none;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}

table
{
    border-collapse: collapse;
    border: solid 0px black;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

table.background { 
    background: url("pattern.png") ; 
}

.headerText{
    color: #fff;
    text-decoration : none;
    font-size: 1em; 
}

.preloaderLayer{
    height:100%;
    width:100%;
    top:0px;
    background-color: #099944; 
    background-repeat:repeat; 
    border:0px solid #000;
    position:absolute;
}

.headerLayer {
    height:40px;
    width:100%;
    background-color: #099944; 
    background-repeat:repeat; 
    border:0px solid #000;
    position:absolute;
}


.absoluteLayerLayer {
    width:100%;
    position:absolute;
}

.headerIconsLayer {
    height:65px;
    width:100%;
    background-color: #82CF8B; 
    background: url("pattern2.png") ; 
    border:0px solid #000;
    position:absolute;
    text-align: center;
}

.headerTopButtonsLayer{
    padding: 4px 0px 0px 0px;
    border:0px solid #000;
    position:absolute;
}


.workAreaLayer {
    width:100%;
    background-color: #fff; 
    border:0px solid #000;
    position:absolute;
}


.knop{
    color: #fff;
    background-color: #83c344;
    border:2px solid #046e2f;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}


.mainbutton{
    border:0px solid #000;
}


.mainbuttonseparator{
    background-color: #ffffff;
    border:0px solid #000;
}

.errorLayer {
    width:100px;
    top:100px;
    padding: 10px 10px 10px 10px;
    background-color: #f55; 
    color: #ffffff;
    border:4px solid #000;
    position:absolute;
}

.noProLayer {
    width:100px;
    top:100px;
    padding: 10px 10px 10px 10px;
    background-color: #fcc; 
    color: #000000;
    border:4px solid #000;
    position:absolute;
}

td,tr,h1,h2,h3,p
{
border: solid 0px black;
margin-left: 0px;
margin-right: 0px;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}


body,a {
    font-family: Arial, Myriad Pro, Myriad, Helvetica, Verdana, Arial, sans-serif;
    color: #696867;
    text-decoration : none;
    font-size: 1em; 
    }

td, th, ul, ol, li, sub, sup, p {
    font-size: 1em;
    }

h1 {
    font-size: 1.2em;
    }





